<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Employee Resignation Prediction</title>

    <style>
        body {
          font-family: "Inter", sans-serif;
          font-size: 18px; 
          background-image: url('{{ url_for("static", filename="img/beegees.jpg") }}');
          background-size: cover;
          background-position: center center;
          background-attachment: fixed;
        }
    </style>
</head>
<body>
    <section class="hero-section">
        <h1 class="hero-title">Employee Resignation Prediction</h1>
        <p class="hero-subtitle">Input employee data to get insights into potential resignation patterns.</p>
        <a href="#form-section" class="get-started-btn">Get Started</a>
    </section>

    <div id="form-section" class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form action="/results" method="POST">
                <div class="formbold-steps">
                    <ul>
                        <li class="formbold-step-menu1 active">
                            <span>1</span>
                            Personal Info
                        </li>
                        <li class="formbold-step-menu2">
                            <span>2</span>
                            Job Info
                        </li>
                        <li class="formbold-step-menu3">
                            <span>3</span>
                            Metrics
                        </li>
                        <li class="formbold-step-menu4">
                            <span>4</span>
                            Workstyle
                        </li>
                    </ul>
                </div>

                <div class="formbold-form-step-1 active">
                    <div class="formbold-input-flex">
                        <div>
                            <label for="firstname" class="formbold-form-label"> First name </label>
                            <input
                                type="text"
                                name="firstname"
                                placeholder="Juan"
                                id="firstname"
                                class="formbold-form-input"
                            />
                        </div>
                        <div>
                            <label for="lastname" class="formbold-form-label"> Last name </label>
                            <input
                                type="text"
                                name="lastname"
                                placeholder="Dela Cruz"
                                id="lastname"
                                class="formbold-form-input"
                            />
                        </div>
                    </div>

                    <div class="formbold-input-flex">
                        <div>
                            <label for="age" class="formbold-form-label"> Age </label>
                            <input
                                type="number"
                                name="age"
                                id="age"
                                class="formbold-form-input"
                                min="20"
                                max="60"
                                required
                                placeholder="22"
                            />
                        </div>
                        <div>
                            <label for="gender" class="formbold-form-label">Gender</label>
                            <select name="gender" id="gender" class="formbold-form-input">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="education" class="formbold-form-label"> Education Level </label>
                        <select name="education" id="education" class="formbold-form-input">
                            <option value="hs">High School</option>
                            <option value="bachelor">Bachelor</option>
                            <option value="master">Master</option>
                            <option value="phd">PhD</option>
                        </select>
                    </div>
                    
                </div>  
                
                <div class="formbold-form-step-2">
                    <div class="mb-20">
                        <label for="department" class="formbold-form-label"> Department </label>
                        <select name="department" id="department" class="formbold-form-input">
                            <option value="it">IT</option>
                            <option value="finance">Finance</option>
                            <option value="custser">Customer Service</option>
                            <option value="eng">Engineering</option>
                            <option value="market">Marketing</option>
                            <option value="hr">HR</option>
                            <option value="oprtns">Operations</option>
                            <option value="sales">Sales</option>
                            <option value="legal">Legal</option>
                        </select>
                    </div>

                    <div class="mb-20">
                        <label for="job_title" class="formbold-form-label"> Job Title </label>
                        <select name="job_title" id="job_title" class="formbold-form-input">
                            <option value="analyst">Analyst</option>
                            <option value="consult">Consultant</option>
                            <option value="dev">Developer</option>
                            <option value="engr">Engineer</option>
                            <option value="manager">Manager</option>
                            <option value="special">Specialist</option>
                            <option value="tech">Technician</option>
                        </select>
                    </div>

                    <div class="formbold-input-flex">
                        <div class="mb-20">
                            <label for="years_at_company" class="formbold-form-label"> Years at Company </label>
                            <input
                            type="number"
                            name="years_at_company"
                            id="years_at_company"
                            class="formbold-form-input"
                            min="0"
                            max="10"
                            placeholder="0"
                            />
                        </div>

                        <div>
                          <label class="formbold-form-label">Number of Promotions</label>
                          <div class="formbold-radio-group">
                            <input
                            type="number"
                            name="promotions"
                            id="promotions"
                            class="formbold-form-input"
                            min="0"
                            max="3"
                            placeholder="0"
                            />
                          </div>
                        </div>
                    </div>
                </div>

                <div class="formbold-form-step-3">
                    <div class="formbold-form-confirm">
                        <div class="formbold-input-flex">
                            <div style="width: 100%;">
                                <label for="monthly_salary" class="formbold-form-label">Monthly Salary</label>
                                <input
                                    type="number"
                                    name="monthly_salary"
                                    id="monthly_salary"
                                    class="formbold-form-input"
                                    required
                                    min="3000"
                                    max="10000"
                                    placeholder="3000"
                                />
                            </div>
                        </div>
                 
                  
                      <div class="formbold-input-flex">
                        <div class="mb-10">
                          <label for="projects_handled" class="formbold-form-label"> Projects Handled </label>
                          <input 
                            type="number" 
                            name="projects_handled" 
                            id="projects_handled" 
                            class="formbold-form-input"
                            min="0"
                            max="100"
                            placeholder="50" 
                          />
                        </div>
                         <div class="mb-10">
                            <label for="salary_per_project" class="formbold-form-label">Salary Per Project</label>
                            <input
                                type="number"
                                name="salary_per_project"
                                id="salary_per_project"
                                class="formbold-form-input"
                                readonly
                            />
                        </div>
                      </div>
                  
                      <div class="slider-container">
                        <label for="overtime_ratio" class="formbold-form-label">Overtime Ratio</label>
                        <div class="slider-wrapper">
                          <span class="min-label">0.0</span>
                          <div class="slider-flex">
                            <input type="range" 
                                id="overtime_ratio" 
                                name="overtime_ratio" 
                                min="0.0" 
                                max="0.05" 
                                step="0.001" 
                                value="0.015" 
                                class="formbold-slider" 
                                oninput="updateSliderValue(this)" 
                            />
                          </div>
                          <span class="max-label">0.05</span>
                          <span class="slider-value" id="overtimeValue">0.5</span>
                        </div>
                      </div>

                      <div class="slider-container">
                        <label for="performance_score" class="formbold-form-label">Performance Score</label>
                        <div class="slider-wrapper">
                          <span class="min-label">1</span>
                          <div class="slider-flex">
                            <input type="range" id="performance_score" name="performance_score" min="1" max="5" value="5" class="formbold-slider" oninput="updateSliderValue(this)" />
                          </div>
                          <span class="max-label">5</span>
                          <span class="slider-value" id="performance_scoreValue">5</span>
                        </div>
                      </div>

                      <div class="slider-container">
                        <label for="satisfaction" class="formbold-form-label">Employee Satisfaction Score</label>
                        <div class="slider-wrapper">
                          <span class="min-label">1</span>
                          <div class="slider-flex">
                            <input type="range" id="satisfaction" name="satisfaction" min="1" max="10" value="5" class="formbold-slider" oninput="updateSliderValue(this)" />
                          </div>
                          <span class="max-label">10</span>
                          <span class="slider-value" id="satisfactionValue">5</span>
                        </div>
                      </div>
                  
                      <div class="formbold-input-flex">
                        <div class="mb-10">
                          <label for="training_hours" class="formbold-form-label"> Training Hours </label>
                          <input 
                            type="number" 
                            name="training_hours" 
                            id="training_hours" 
                            class="formbold-form-input"
                            min="0"
                            max="100"
                            placeholder="50" 
                          />
                        </div>
                        <div class="mb-10">
                          <label for="sick_days" class="formbold-form-label"> Sick Days </label>
                          <input 
                            type="number" 
                            name="sick_days" 
                            id="sick_days" 
                            class="formbold-form-input"
                            min="0"
                            max="15"
                            placeholder="5"
                          />
                        </div>
                      </div>
                    </div>
                </div>

                <div class="formbold-form-step-4">
                    <div class="formbold-form-confirm">
                      <div class="formbold-input-flex">
                        <div class="mb-20">
                          <label for="remote_work" class="formbold-form-label"> Remote Work Frequency </label>
                          <input
                            type="number"
                            name="remote_work"
                            id="remote_work"
                            class="formbold-form-input"
                            min="0"
                            max="100"
                            placeholder="50"
                          />
                        </div>
                  
                        <div class="mb-20">
                          <label for="team_size" class="formbold-form-label"> Team Size </label>
                          <input
                            type="number"
                            name="team_size"
                            id="team_size"
                            class="formbold-form-input"
                            min="1"
                            max="20"
                            placeholder="5"
                          />
                        </div>
                      </div>
                    </div>
                  </div> 

                <div class="formbold-form-btn-wrapper">
                    <button class="formbold-back-btn">
                        Back
                    </button>

                    <button class="formbold-btn">
                        Next Step
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1675_1807)">
                                <path d="M10.7814 7.33312L7.20541 3.75712L8.14808 2.81445L13.3334 7.99979L8.14808 13.1851L7.20541 12.2425L10.7814 8.66645H2.66675V7.33312H10.7814Z" fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_1675_1807">
                                    <rect width="16" height="16" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>